NET "clk"        LOC = V10  | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;

NET "reset"      LOC = M18   | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "counter(0)"             LOC = P15   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "counter(1)"             LOC = P16   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "counter(2)"             LOC = N15   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "counter(3)"             LOC = N16   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "counter(4)"             LOC = U17   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "counter(5)"             LOC = U18   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "counter(6)"             LOC = T17   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "counter(7)"             LOC = T18   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;